<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Tribune_ADIT2.0" parallel="methods" thread-count="1">
	 <listeners>
		<listener class-name="com.tribune.adit2.testng.TestLogListener" />
	</listeners> 
    <test name="Tribune_ADIT2.0 Tests" >
	 	 <packages>
			 <package name="com.tribune.adit2.test"></package>
		</packages>
	</test>	    
</suite>
